<nav>
	<ul>
		<%=link_to "Home", root_path %>
		<%=link_to "Resources", resources_path %>
		<%=link_to "Organisations", organisations_path %>
		<%=link_to "What is Here?", whatishere_path %>
		<%=link_to "Events", events_path %>
		<%=link_to "Contact Us", contactus_path %>
	</ul>
</nav>